body {
  font-family: 'Work Sans', sans-serif;
}

.app {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.app-header {
  background-color: #FFF;
  height: 120px;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.header-icon {
  width: auto;
  height: 25%;
  margin: 10px;
  cursor: pointer;
}

.dropdown-container {
  color: #000;
  width: 100%;
  max-width: 300px;
  margin: 0 5px;
}

.header-column {
  padding: 10px;
}

.main-dropdown-container {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.view-settings-container {
  background-color: #F6F6F6;
  flex: 7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.account-dropdown-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin: 10px 0 0 0;
  border-bottom: solid 1px #8F8F8F;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-label {
  font-size: 0.75rem;
  margin: 0;
}

.dropdown-value {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 0;
}

.dropdown-caret {
  width: 0;
  height: 0;
  border-top: 4px dashed #C4C4C4;
  border-top: 4px solid #C4C4C4;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* small dropdown styles start */

.dropdown-small {
  width: auto;
  margin: 0 5px;
  min-width: 100px;
}

.dropdown-small .dropdown {
  border: solid 1px #8F8F8F;
  border-radius: 5px;
  background-color: #FFF;
  padding: 8px 5px;
}

.dropdown-small .dropdown .dropdown-value {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 5px 0 0;
}

/* small dropdown styles end */

.main-content-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 120px);
  width: 100%;
}

.map-container {
  height: 100%;
  flex: 1;
}

.main-content {
  flex: 3;
  padding: 15px;
}

.map-placeholder {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.main-content-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.main-content-description {
  font-size: 1rem;
}

/* Pie chart styles start */

.pie-chart-figure {
  background-color: transparent;
  display: block;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  position: relative;
}
.pie-chart {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
	fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 3s infinite ease both;
  animation: pie1 6s ease both;
}
.pie1 {
  stroke:hsl(180,70%,30%);
}
.pie2 {
  stroke:hsl(180,70%,50%);
  -webkit-animation-name: pie2;
  animation-name: pie2;
}
.pie3 {
  stroke:hsl(180,70%,20%);
  -webkit-animation-name: pie3;
  animation-name: pie3;
}
.pie4 {
  stroke:hsl(180,0%,70%);
  -webkit-animation-name: pie4;
  animation-name: pie4;
}
/* 1st pie is 40% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
/* 2nd pie is 30% */
@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
/* 3rd pie is 30% */
@-webkit-keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
@keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
/* 4th pie is 10% */
@-webkit-keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}
@keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}

/* Pie chart styles end */


.chart-visibility-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visibility-toggle-icon {
  width: auto;
  height: 1rem;
  margin-right: 5px;
}

.visibility-toggle-label {
  font-weight: 800;
}

.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pie-chart-figure {
  margin-right: 10px;
}

.pie-chart-label {
  font-size: 0.9rem;
  margin: 4px 0;
}

.pie-charts-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.not-visible {
  visibility: hidden;
}

.searchbox{
  position: relative;
  max-width: 200px;
}

.search-input {
	background: none;
	border: none;
	border-radius: 5px;
  border: solid 1px #8F8F8F;
  border-radius: 5px;
  background-color: #FFF;
  padding: 8px 5px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  width: 100%;
}

.search-icon {
  height: 1rem;
  width: 1rem;
  background-image: url('../public/img/search-icon.png');
  background-size: contain;
  position: absolute;
  box-sizing:border-box;
  top: 0;
  right: 2px;
  transform: translateY(55%);
}

.table-container {
  margin-top: 10px;
}


#assets-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  text-align: left;
}

#assets-table th {
  border-bottom: 1px dotted #DDD;
  padding: 10px 15px;
}

#assets-table td {
  border-bottom: 1px dotted #DDD;
  padding: 10px 15px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
