.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  background-color: #FFF;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.header-icon {
  width: auto;
  height: 25%;
  margin: 10px;
  cursor: pointer;
}

.dropdown-container {
  color: #000;
  width: 100%;
  max-width: 300px;
  margin: 0 5px;
}

.header-column {
  padding: 10px;
}

.main-dropdown-container {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.view-settings-container {
  background-color: #F6F6F6;
  flex: 7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.account-dropdown-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin: 10px 0 0 0;
  border-bottom: solid 1px #8F8F8F;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-label {
  font-size: 0.75rem;
  margin: 0;
}

.dropdown-value {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 0;
}

.dropdown-caret {
  width: 0;
  height: 0;
  border-top: 4px dashed #C4C4C4;
  border-top: 4px solid #C4C4C4;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* small dropdown styles start */

.dropdown-small {
  width: auto;
  margin: 0 5px;
  min-width: 100px;
}

.dropdown-small .dropdown {
  border: solid 1px #8F8F8F;
  border-radius: 5px;
  background-color: #FFF;
  padding: 8px 5px;
}

.dropdown-small .dropdown .dropdown-value {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 5px 0 0;
}

/* small dropdown styles end */
